.Container6{
    display: grid;
    grid-template-columns:5% 95%;
    align-items: center;
    background-color: #080420;
    padding: 0 2rem;
    padding-bottom: 0.3rem;
}

@media screen and  (max-width: 1080px) {
    .Container6{
        padding: 0 1rem;
        gap: 1rem;
    }
  }

.button-container{
    display: flex;
    align-items: center;
    color: white;
    gap: 1rem;
}

.emoji{
    position: relative;
}
.emoji svg{
    font-size: 1.5rem;
    color: #ffff00c8;
    cursor: pointer;
}


.emoji-picker-react{
    height: 50%;
    position: absolute;
    top: -370px;
    
    
}
aside.EmojiPickerReact.epr-main{
    background-color: #080420;
    box-shadow: 0 5px 10px #9a86f3;
    border-color: #9186f3;
}
aside.EmojiPickerReact.epr-main .epr-category-nav button{
    filter:contrast(0);
}
aside.EmojiPickerReact.epr-main .epr-search-container .epr-search{
    background-color: transparent;
    border-color: #9186f3;
}

.EmojiPickerReact .epr-body .epr-emoji-list .epr-emoji-category-label{
    background-color: #080420;
}




.input-container{
    width: 100%;
    height: 60px;
    border-radius: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    background-color: #ffffff34;
    padding: 1rem;
    justify-content: space-between;
}

 .input-container div input{
    width: 150%;
    color: white;
    background-color: transparent;
    border: none;
    padding-left: 1rem;
    font-size: 1.2rem;
}
 .input-container div input::selection{
    background-color: #9a86f3;
}

 .input-container div input:focus{
    outline: none;
}

 .input-container div button{
    padding: 0.5rem 2rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9a86f3;
    border: none;
    cursor: pointer;
}

 .input-container div button svg{
    font-size: 2rem;
    color: white;
}
@media screen and (max-width: 1080px) {
    .input-container div button{
        padding: 0.3rem 1rem;
    }
    .input-container div button svg{
        font-size: 2rem;
    }

    .emoji{
        padding-right: 1rem;
    }
}